body {
    padding-top: 50px;
}

.appViewPort {
    padding: 40px 15px;
}

#errorAlert {
    margin: 5px;
    margin-bottom: -50px;
    z-index: 10000;
}

.ng-invalid.ng-dirty {
    border-color: #d9534f;
}

.ng-valid.ng-dirty {
    border-color: #5cb85c;
}